DB_HOST=localhost
DB_PORT=3306
DB_NAME=afrika_influence
DB_USER=root
DB_PASS=

JWT_SECRET=
TAUX_COMMISSION=10

PAYTECH_API_KEY=
PAYTECH_API_SECRET=
PAYTECH_ENV=test

BREVO_API_KEY=

UPLOAD_PATH=./uploads/logos
MAX_FILE_SIZE=5242880

PORT=3000
NODE_ENV=development
